.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  // height: 1rem;
}

mat-sidenav{
  width:5vw;
}
.search{
  height: 2rem;
  font-size: 1rem;
  border-radius: 12px;
  width: 20rem;
}
h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
 flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.nav-content{
  width: 100%;
      padding-top: 1rem;
}

.profileImg{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem;
}

.todo{
  border-left-style: solid;
  border-left-color: #f1efef;
}

.todo-card{
  height: 7rem;
}

.todo-card mat-card-header{
  color:#04796A;
}

.todo-card p{
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }
.todo-container{
  margin: 1rem;
  font-size: 1rem;
}

.card{
  min-height: 16rem;
  width:100%
}

.card img{
  // width: 3rem;
  height: 10rem;
   object-fit: cover;
}
.navText{
  font-size: 0.5rem;
}
.sidebar-image{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.mat-drawer-backdrop.mat-drawer-shown {
  visibility: none !important;
}


@media only screen and (max-width: 768px) {
  .search{
    height: 2rem;
  font-size: 0.4rem;
  border-radius: 12px;
  width: 6rem;
  }
  .img{
    height: 1.5rem;
    width: 4rem
  }
  .profileImg {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

mat-sidenav{
  width:10vw;
}

.navText{
  font-size: 0.3rem;
}
.sidebar-image{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

}
