<div class="moda">
  <h5>Create Server</h5>

  <div class="body">
    <p>
      Enter Server Detail
    </p>

    <div class="content">
      <label for="name">Server Name</label>
      <input type="text" id="name" name="name">
    </div>
    <div class="content">
      <label for="ip">Server IP</label>
      <input type="text" id="ip" name="ip">
    </div>
    <div class="content">
      <label for="cpu">CPU</label>
      <input type="text" id="cpu" name="cpu">
    </div>
    <div class="content">
      <label for="storage">STORAGE</label>
      <input type="text" id="storage" name="storage">
    </div>


  </div>
  <div class="footer">
    <button mat-flat-button (click)="closeModal()">Cancel</button>
    <button mat-flat-button class="blue-button">Create</button>

  </div>
</div>
