<div class="body-container">
  <div class="card">
    <div class="card-body">
      <mat-tab-group>
          <mat-tab label="LOGIN">
            <div class="loginTab">
              <div class="loginImg">
                <img class="images" src="../../../assets/impata logo.png">
              </div>
              <div class="loginImg">
                <img class="images" src="../../../assets/Learning-and-development.png" style="width:100%">
              </div>
              <div>

              </div>
              <form class="form-horizontal"
              [formGroup]="loginForm"
              (ngSubmit)="onSubmit()">
                <div class="loginForm">
                  <mat-form-field appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput type="text"
                  placeholder="Please enter your email"
                  formControlName="username">
                </mat-form-field>
                </div>

                <div class="loginForm" >
                  <mat-form-field appearance="outline" id="password-container">
                  <mat-label>Password</mat-label>
                  <input matInput type="password"
                  placeholder="Please enter your password"
                  formControlName="password">
                </mat-form-field>
                </div>

                <div class="otherPage">
                  <div class="row">
                    <div class="col-sm-5 fgttext">
                      <span class="forgottext"
                        ><a
                          ><small>
                             Forgot your password?
                          </small></a
                        ></span
                      >
                    </div>

                    <div class="col-sm-7">
                      <span class="signuplink"
                        ><a>
                         <small>
                           Resend Verification email
                         </small>  </a></span
                      >
                    </div>
                  </div>
                </div>
                <button mat-raised-button type="submit">
                  LOGIN
                </button>
              </form>
            </div>

          </mat-tab>
          <mat-tab label="SIGNUP"> Signup </mat-tab>
        </mat-tab-group>


    </div>
  </div>
</div>

