/* You can add global styles to this file, and also import other style files */
.h-full{
  height: 100%;
}
app-root {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
}

.mat-tab-body-content {
  height: auto !important;
  overflow: initial !important;
}

.blue-button{
  background: #49D3FF 0% 0% no-repeat padding-box;
  border-radius: 4px;
}
