<div class="moda">
  <h5>Create Server</h5>

  <div class="body">

    <div class="content">
      <label for="name">Application Name</label>
      <input type="text" id="name" name="name">
    </div>
    <div class="content">
      <label for="type">Application Type</label>
      <input type="text" id="type" name="type">
    </div>
    <div class="content">
      <label for="dcsc">Application Dcsc</label>
      <input type="text" id="dcsc" name="dcsc">
    </div>
    <div class="content">
      <label for="point">End Point</label>
      <input type="text" id="point" name="point">
    </div>


  </div>
  <div class="footer">
    <button mat-flat-button (click)="closeModal()">Cancel</button>
    <button mat-flat-button class="blue-button">Create</button>

  </div>
</div>
